.customScrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: black; /* 스크롤바 색상 */
  border-radius: 50px; /* 스크롤바 둥근 테두리 */
}

.customScrollbar::-webkit-scrollbar-track {
  background: gainsboro; /*스크롤바 뒷 배경 색상*/
  border-radius: 50px;
}

.customModalScrollbar {
}

.customModalScrollbar::-webkit-scrollbar {
  width: 20px;
}

.customModalScrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 7px solid white;
}

.customModalScrollbar::-webkit-scrollbar-track {
  background-color: white;
}
